Django==1.10.1
PyYAML==3.11
django-appconf==1.0.2
django-cors-headers
django-datetime-widget
django-etc
django-markdown-deux==1.0.5
djangorestframework-jwt
djangorestframework==3.5.0
etc
django-debug-toolbar
django_extensions
psycopg2
pytz==2016.4
six
django-filter
raven==5.32.0
