{% extends "base.html" %}
{% load cpt %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'directory:index' %}">Directory</a></li>
    <li class="active">Organisations</li>
</ul>
{% endblock %}

{% block body %}
    <h2>Organisations</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
        {% for org in object_list %}
            <tr>
                <td><a href="{% url 'directory:org-detail' org.id %}">{{ org.name }}</a></td>
                <td>{{ org.account_set.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
