{% load bootstrap_themes %}
{% load fontawesome %}
{% load pinax_announcements_tags %}

<html>
    <head>
        {% if request.user.is_authenticated %}
            {% bootstrap_styles theme=request.user.account.theme type='min.css' %}
        {% else %}
            {% bootstrap_styles theme='lumen' type='min.css' %}
        {% endif %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        {% fontawesome_stylesheet %}
    </head>
    <body>
 <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">LIMS</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">

          {% block search %}
          <form class="navbar-form navbar-left" role="search" method="POST" action="{% url 'search:index' %}">
              {% csrf_token %}
              <div class="form-group">
                  <input type="text" name="search" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
          {% endblock %}

          <ul class="nav navbar-nav navbar-right">
            {%if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li>
                    <a href="/admin">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'account_settings' %}">
                        {{ request.user }}
                    </a>
                 </li>
            {% else %}
                <li>
                    <a href="{% url 'account_login' %}">
                        Login
                    </a>
                </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
{{ TODO }}
{% if announcements_list %}
    <div class="announcements">
        {% for announcement in announcement_list %}
            <div class="announcement">
                <strong>{{ announcement.title }}</strong><br />
                {{ announcement.content }}

                <a href="{{ announcement.get_absolute_url }}">Read more...</a>

                {% if announcement.dismiss_url %}
                    <a href="{{ announcement.dismiss_url }}" class="btn ajax" data-method="post" data-replace-closest=".announcement">
                        Clear
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endif %}







        {% if messages %}
            <div class="row">
            {% for message in messages %}
                <div class="bs-component">
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="{{ message.tags }}">×</button>
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            {% block crumbs %}
            {% endblock %}
        </div>
        <div class="row">
        {% block body %}
        {% endblock %}
        </div>
    </div>
        {% block scripts %}
        {% endblock %}
        {% bootstrap_script use_min=True %}
        <style type='text/css'>
            a.noUnderline {
                text-decoration: none;
            }
            .navbar{
                 border-radius: 0px;
            }
        </style>
    </body>
</html>
