{% load bootstrap_themes %}
{% load fontawesome %}

<html>
    <head>
        {% if request.user.is_authenticated %}
            {% bootstrap_styles theme=request.user.account.theme type='min.css' %}
        {% else %}
            {% bootstrap_styles theme='lumen' type='min.css' %}
        {% endif %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        {% fontawesome_stylesheet %}
    </head>
    <body>
 <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">LIMS</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            {%if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li>
                    <a href="/admin">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'account_settings' %}">
                        {{ request.user }}
                    </a>
                 </li>
            {% else %}
                <li>
                    <a href="{% url 'account_login' %}">
                        Login
                    </a>
                </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
        {% if messages %}
            <div class="row">
            {% for message in messages %}
                <div class="bs-component">
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="{{ message.tags }}">×</button>
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            {% block crumbs %}
            {% endblock %}
        </div>
        <div class="row">
        {% block body %}
        {% endblock %}
        </div>
    </div>
        {% block scripts %}
        {% endblock %}
        {% bootstrap_script use_min=True %}
        <style type='text/css'>
            a.noUnderline {
                text-decoration: none;
            }
        </style>
    </body>
</html>
