{% load bootstrap_themes %}

<html>
    <head>
        {% bootstrap_styles theme='lumen' type='min.css' %}
        {% bootstrap_script use_min=True %}
    </head>
    <body>
 <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">LIMS</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/directory/">Directory</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
             Login
             </a>
             </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            {% block crumbs %}
            {% endblock %}
        </div>
        <div class="row">
        {% block body %}
        {% endblock %}
        </div>
    </div>
        {% block scripts %}
        {% endblock %}
        {% bootstrap_script use_min=True %}
    </body>
</html>
