{% extends "base.html" %}
{% load cpt %}
{% load bootstrap3 %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'project:bioproject-list' %}">Projects</a></li>
    <li class="active">Create</li>
</ul>
{% endblock %}

{% block body %}
    <h1>Create a Project</h1>

    <p>Click <a data-toggle="modal" data-target="#modal" href="{% url 'lims:envsample-create' %}">here</a> to show the modal</p>
    <div class="modal fade" id="modal"></div>

    <div class="row">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-default btn-primary" style="width:100%">Submit</button>
            </form>
        </div>
    </div>

<script>
$('#modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'lims:envsample-create' %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
})
</script>
{% endblock %}
