{% extends "base.html" %}
{% load cpt %}
{% load fontawesome %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    <li><a href="{% url 'lims:storage-location-list' %}">Storage Locations</a></li>
    <li><a href="{% url 'lims:storage-location-detail' object.location.id %}">{{ object.location.name }}</a></li>
    <li class="active">{{ object.name }}</li>
</ul>
{% endblock %}

{% block body %}
<div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    {{ object.name }}
                    <div class="btn-group">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'lims:box-edit' object.location.id object.id %}">Edit Box</a></li>
                            <li><a href="{% url 'lims:box-delete' object.location.id object.id %}">Delete Box</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'lims:envsample-create' object.location.id object.id %}">Add an Environmental Sample</a></li>
                            <li><a href="{% url 'lims:lysate-create' object.location.id object.id %}">Add a Lysate</a></li>
                            <li><a href="{% url 'lims:phagednaprep-create' object.location.id object.id %}">Add a Phage DNA Prep</a></li>
                        </ul>
                    </div>
                </h1>
                <div>In <a href="{% url 'lims:storage-location-detail' object.location.id %}">{{ object.location }}</a></div>
            </div>
            <div class="col-md-6">
                <h1>
                {{ object.id | cptids_encode:'box' | ibarcode:'400x40' }}
                </h1>
            </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Sample ID
                    </th>
                    <th>
                        Sample Type
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for tube in object.getEnvironmentalTubes.all %}
                <tr id="{{ tube.id | cptids_encode:'envsample' }}">
                    <td>
                        <a class="mono" href="{% url 'lims:envsample-detail' tube.environmentalsample.id %}">
                            {{ tube.name }} &nbsp;
                            {{ tube.environmentalsample.id | cptids_encode:'envsample' | ibarcode:'160x20' }}
                       </a>
                    </td>
                    <td>Environmental Sample</td>
                </tr>
                {% endfor %}
                {% for tube in object.getLysateTubes.all  %}
                <tr id="{{ tube.lysate.id | cptids_encode:'lysate' }}">
                    <td>
                        <a class="mono" href="{% url 'lims:lysate-detail' tube.lysate.id %}">
                            {{ tube.name }} &nbsp;
                            {{ tube.lysate.id | cptids_encode:'lysate' | ibarcode:'160x20' }}
                       </a>
                    </td>
                    <td>Lysate</td>
                </tr>
                {% endfor %}
                {% for tube in object.getPhageDNAPrepTubes.all %}
                <tr id="{{ tube.id | cptids_encode:'dnaprep' }}">
                    <td>
                        <a class="mono" href="{% url 'lims:phagednaprep-detail' tube.phagednaprep.id %}">
                            {{ tube.name }} &nbsp;
                            {{ tube.phagednaprep.id | cptids_encode:'dnaprep' | ibarcode:'160x20' }}
                       </a>
                    </td>
                    <td>Phage DNA Prep</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
