{% extends "base.html" %}
{% load cpt %}
{% load markdown_deux_tags %}
{% load fontawesome %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    <li><a href="{% url 'lims:experiment-list' %}">Experiments</a></li>
    <li class="active">{{ object.id }}</li>
</ul>
{% endblock %}

{% block body %}
<h1>{{ object.experiment.short_name }} run by {{ object.run_by.name }}</h1>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ object.date }}</td>
        </tr>
        <tr>
            <td>Run By</td>
            <td><a href="{% url 'directory:person-detail' object.run_by.id %}">{{ object.run_by.name }}</a></td>
        </tr>
        <tr>
            <td>Experiment</td>
            <td><a href="{% url 'lims:experiment-detail' object.experiment.id %}">{{ object.experiment }}</a></td>
        </tr>
        <tr>
            <td>Result</td>
            <td>{{ object.result }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
