{% extends "base.html" %}
{% load cpt %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'directory:index' %}">Directory</a></li>
    <li class="active">People</li>
</ul>
{% endblock %}

{% block body %}
<h2>People <a href="{% url 'directory:person-create' %}">+</a></h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Associations</th>
            </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
            <tr>
                <td>{{ person.id | cptids_encode:"person" }}</td>
                <td><a href="{% url 'directory:person-detail' person.id %}">{{ person.name }}</a></td>
                {% if person.primaryEmail %}
                    <td><a href="mailto:{{ person.primaryEmail.email }}">{{ person.primaryEmail.email }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    {% for tag in person.tags.all %}
                    {{ tag | persontag }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
