
{% extends "base.html" %}
{% load cpt %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    <li class="active">Bacteria</li>
</ul>
{% endblock %}

{% block body %}
    <h1>
        Bacteria
        <a href="{% url 'lims:bacteria-create' %}">+</a>
    </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phages Against</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'lims:bacteria-detail' object.id %}">
                    {{ object }}
                    </a>
                </td>
                <td>
                    {{ object.phage_set.count }}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default dropdown-toggle noUnderline" data-toggle="dropdown">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="noUnderline" href="{% url 'lims:bacteria-edit'   object.id %}">Edit Bacteria</a></li>
                            <li><a class="noUnderline" href="{% url 'lims:bacteria-delete' object.id %}">Delete Bacteria</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
