{% extends "base.html" %}
{% load cpt %}
{% load fontawesome %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    <li><a href="{% url 'lims:storage-location-list' %}">Storage Locations</a></li>
    <li><a href="{% url 'lims:storage-location-detail' object.location.id %}">{{ object.location.name }}</a></li>
    <li class="active">{{ object.name }}</li>
</ul>
{% endblock %}

{% block body %}
<div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ object.name }}</h1>
                <div>In <a href="{% url 'lims:storage-location-detail' object.location.id %}">{{ object.location }}</a></div>
            </div>
            <div class="col-md-6">
                {{ object.id | cptids_encode:'box' | ibarcode:'400x40' }}
            </div>
    </div>

    {% if object.getEnvironmentalTubes.count > 0 %}
    <div class="row">
        <h2>Environmental Samples</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        EnvSample ID
                    </th>
                    <th>
                        Sample Type
                    </th>
                    <th>
                        Collection Date
                    </th>
                    <th>
                        Collection Location
                    </th>
                    <th>
                        Tube Type
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for tube in object.getEnvironmentalTubes.all %}
                <tr id="{{ tube.id | cptids_encode:'envsample' }}">
                    <td style="text-align:center">
                        <div>{{ tube.id | cptids_encode:'envsample' }}</div>
                        <div>{{ tube.id  | ibarcode:'160x20' }}</div>
                    </td>
                    <td>{{ tube.environmentalsample.sample_type }}</td>
                    <td>{{ tube.environmentalsample.collection }}</td>
                    <td>{{ tube.environmentalsample.location }}</td>
                    <td>{{ tube.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if object.getLysateTubes.count > 0 %}
    <div class="row">
        <h2>Lysates</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lysate ID</th>
                    <th>Env. Sample</th>
                    <th>Host(s)</th>
                    <th>Old ID</th>
                    <th>Isolation Date</th>
                    <th>Owner / Org</th>
                </tr>
            </thead>
            <tbody>
                {% for tube in object.getLysateTubes.all  %}
                <tr id="{{ tube.lysate.id | cptids_encode:'lysate' }}">
                    <td style="text-align:center">
                        <div>{{ tube.lysate.id | cptids_encode:'lysate' }}</div>
                        <div>{{ tube.lysate.id  | cptids_encode:'lysate' | ibarcode:'160x20' }}</div>
                    </td>
                    <td style="text-align:center">
                        <a href="{% url 'lims:box-detail' tube.lysate.env_sample.tube.box.id %}#{{ tube.lysate.env_sample.id | cptids_encode:'envsample' }}">
                            <div>
                                {{ tube.lysate.env_sample.id | cptids_encode:'envsample' }}
                            </div>
                            <div>{{ tube.lysate.env_sample.id | cptids_encode:'envsample' | ibarcode:'160x20' }}</div>
                        </a>
                    </td>
                    <td>
                        <ul>
                        {% for host in tube.lysate.host_lims.all %}
                            <li>{{ host }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{ tube.lysate.oldid }}</td>
                    <td>{{ tube.lysate.isolation }}</td>
                    <td>
                        {% if tube.lysate.owner and tube.lysate.source %}
                            <a href="{% url 'directory:person-detail' tube.lysate.owner.id %}">{{ tube.lysate.owner }}</a>
                                <br />
                            <a href="{% url 'directory:org-detail' tube.lysate.source.id %}">{{ tube.lysate.source }}</a>
                        {% elif tube.lysate.owner %}
                            <a href="{% url 'directory:person-detail' tube.lysate.owner.id %}">{{ tube.lysate.owner }}</a>
                        {% elif tube.lysate.source %}
                            <a href="{% url 'directory:org-detail' tube.lysate.source.id %}">{{ tube.lysate.source }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if object.getPhageDNAPrepTubes.count > 0 %}
    <div class="row">
        <h2>Phage DNA Preparation</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>DNA Prep ID</th>
                    <th>Lysate ID</th>
                    <th>Morphology</th>
                    <th>PFGE Size (kb)</th>
                    <th>Experiments</th>
                </tr>
            </thead>
            <tbody>
                {% for tube in object.getPhageDNAPrepTubes.all %}
                <tr id="{{ tube.id | cptids_encode:'dnaprep' }}">
                    <td style="text-align:center">
                        <div>{{ tube.id | cptids_encode:'dnaprep' }}</div>
                        <div>{{ tube.id  | cptids_encode:'dnaprep' | ibarcode:'160x20' }}</div>
                    </td>
                    <td style="text-align:center">
                        <a href="{% url 'lims:box-detail' tube.phagednaprep.lysate.tube.box.id %}#{{ tube.phagednaprep.lysate.id  | cptids_encode:'lysate' }}">
                            <div>
                                {{ tube.phagednaprep.lysate.id | cptids_encode:'lysate' }}
                            </div>
                            <div>
                                {{ tube.phagednaprep.lysate.id  | cptids_encode:'lysate' | ibarcode:'160x20' }}</div>
                            </div>
                        </a>
                    </td>
                    <td>{{ tube.phagednaprep.get_morphology_display }}</td>
                    <td>{{ tube.phagednaprep.pfge_expected_size }}</td>
                    <td>
                        <ul>
                            {% for experiment in tube.phagednaprep.experiments.all %}
                            <li>
                                <a href="{% url 'lims:experiment-detail' experiment.id %}">
                                {{ experiment }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>
{% endblock %}
