
{% extends "base.html" %}
{% load cpt %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    
    <li><a href="{% url 'lims:storage-location-detail' object.tube.box.location.id %}">{{ object.tube.box.location.name }}</a></li>
    <li><a href="{% url 'lims:box-detail' object.tube.box.location.id object.tube.box.id %}">{{ object.tube.box.name }}</a></li>
    <li class="active">{{ object }}</li>
    
</ul>
{% endblock %}

{% block body %}
    
    <h1>
        {{ object }}
        <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'lims:lysate-edit' object.id %}">Edit Lysate</a></li>
                <li><a href="{% url 'lims:lysate-delete' object.id %}">Delete Lysate</a></li>
            </ul>
        </div>
    </h1>

    <div class="row">
        <table class="table table-striped">
{% load model_field %}
            <tr>
                <td>
                    Environmental Sample
                </td>
                <td>
                    {{ object.env_sample }}
                </td>
            </tr>
            <tr>
                <td>
                    Host(s)
                </td>
                <td>
                    <ul>
                    {% for bact in object.host_lims.all %}
                        <li><i>{{ bact }}</i></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Legacy ID(s)
                </td>
                <td>
                    {{ object.oldid }}
                </td>
            </tr>
            <tr>
                <td>
                    Isolation Date
                </td>
                <td>
                    {{ object.isolation }}
                </td>
            </tr>
            <tr>
                <td>
                    Owner / Source
                </td>
                <td>
                    <a href="{% url 'directory:person-detail' object.owner.id %}">
                        {{ object.owner.name }}
                    </a>
                    /
                    <a href="{% url 'directory:org-detail' object.source.id %}">
                        {{ object.source }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Location
                </td>
                <td>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'lims:storage-location-detail' object.tube.box.location.id %}">
                                {{ object.tube.box.location.name }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'lims:box-detail' object.tube.box.location.id object.tube.box.id %}">
                                {{ object.tube.box.name }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'lims:box-detail' object.tube.box.location.id object.tube.box.id %}#{{ object.tube.lysate.id | cptids_encode:'lysate' }}">
                                {{ object.tube.name }}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}
