
{% extends "base.html" %}
{% load cpt %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    
    <li class="active">Lysate</li>
    
</ul>
{% endblock %}

{% block body %}
    
    <h1>All Lysate in all Storage Locations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{ object }}
                </td>
                <td>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'lims:storage-location-detail' object.tube.box.location.id %}">
                                {{ object.tube.box.location.name }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'lims:box-detail' object.tube.box.location.id object.tube.box.id %}">
                                {{ object.tube.box.name }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'lims:box-detail' object.tube.box.location.id object.tube.box.id %}#{{ object.tube.lysate.id | cptids_encode:'lysate' }}">
                                {{ object.tube.name }}
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default dropdown-toggle noUnderline" data-toggle="dropdown">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Test</li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
