{% extends "base.html" %}
{% load cpt %}
{% load fontawesome %}

{% block crumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'lims:index' %}">LIMS</a></li>
    <li><a href="{% url 'lims:storage-location-list' %}">Storage Locations</a></li>
    <li class="active">{{ object.name }}</li>
</ul>
{% endblock %}

{% block body %}
    <h1>{{ object.name }}</h1>

    <div class="row">
        <ul>
        {% for box in object.box_set.all %}
        <li>
            <a href="{% url 'lims:box-detail' box.id %}">{{ box }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
