{% extends "base.html" %}
{% load fontawesome %}

{% block crumbs %}
{% endblock %}

{% block body %}
<h1>CPT LIMS</h1>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% for app in apps %}
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                             {% if app.icon %}
                                 {{ app.icon.as_html  }}
                             {% endif %}
                             {{ app.name }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ app.description }}
                        <div style="text-align:right">
                            <a href="{{ app.url }}" class="btn btn-primary">{{ app.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h3>News Feed</h3>
        <a class="twitter-timeline" href="https://twitter.com/Eric_Rasche" data-widget-id="722937471554588672">Tweets by @Eric_Rasche</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
{% endblock %}
